/* Mobile First Approach */

:root {
  /* Light Theme (default) */
  --color-text: #333;
  --color-bg: #fff;
  --color-primary: #0066cc;
}

:root:has(#theme-toggle:checked) {
  /* Dark Theme */
  --color-text: #f0f0f0;
  --color-bg: #121212;
  --color-primary: #4dabf7;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

* {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.5s;
}

html {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
}

ul > li {
  list-style: none;
}

.main-nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-bg);
  padding: 20px;
}

.main-nav .logo img {
  width: 150px;
}

.main-nav nav ul {
  position: absolute;
  display: none;
  gap: 20px;
  background-color: var(--color-primary);
  width: 100%;
  left: 0;
  top: 80px;
  z-index: 1000;
}

.main-nav nav ul li {
  display: flex;
  align-items: center;
  position: relative;
}

.main-nav nav ul li:not(li:last-child) {
  border-bottom: 1px solid var(--color-text);
}

.main-nav nav ul li a {
  color: var(--color-bg);
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.main-nav nav ul li::after,
a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.main-nav nav ul li:hover::after,
a:hover::after {
  width: 100%;
  left: 0;
}

.mobile-nav-trigger {
  border: 1px solid white;
  border-radius: 50%;
  background: transparent;
  padding: 5px 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.hero {
  position: relative;
  text-align: center;
  background: url("../assets/images/story_whc_mafagascar.JPG.webp");
  height: 50vh;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    var(--color-primary),
    var(--color-bg)
  );
  opacity: 0.5;
}

.hero .title {
  color: var(--color-bg);
  font-weight: bolder;
  margin-bottom: 20px;
  z-index: 1;
}

.hero .description {
  color: var(--color-bg);
  line-height: 1.5;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1.25rem;
  }

  .mobile-nav-trigger {
    display: none;
  }

  .main-nav nav ul {
    position: relative;
    display: flex;
    top: 0;
  }
  .main-nav nav ul li:not(li:last-child) {
    border-bottom: none;
  }
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 1024px;
    margin: 0 auto;
  }
}
