/* Mobile First Approach */

:root {
  /* Light Theme (default) */
  --color-text-main: #0d1c29; /* with light colored background */
  --color-text-sec: #fff; /* with dark colored background */
  --color-primary: #0066cc;
  --danger-color: rgb(255, 58, 58);
  --horizontal-line: #0066cc;
  --color-bg: #ffffff;
  --gray-color: #f1f4f6;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --line-height: 1.4;
  --icon-size: 24px;
  --filter: brightness(0) saturate(100%) invert(25%) sepia(91%) saturate(1723%)
    hue-rotate(195deg) brightness(98%) contrast(103%);
  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(97%)
    saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
  --filter-primary: brightness(0) saturate(100%) invert(25%) sepia(91%)
    saturate(1723%) hue-rotate(195deg) brightness(98%) contrast(103%);
}

:root:has(#theme-toggle:checked) {
  /* Dark Theme */
  --color-text-main: #ffffff; /* with light colored background */
  --color-text-sec: #ffffff; /* with dark colored background */
  --color-primary: #0d1c29;
  --danger-color: rgb(255, 58, 58);
  --horizontal-line: #0066cc;
  --color-bg: #0d1c29;
  --gray-color: #f1f4f6;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --filter: brightness(0) saturate(100%) invert(7%) sepia(51%) saturate(984%)
    hue-rotate(170deg) brightness(90%) contrast(93%);
  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(97%)
    saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
  --filter-primary: brightness(0) saturate(100%) invert(100%) sepia(97%)
    saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
}

/* Theme Toggle Switch */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  border: 1px solid var(--third-color);
  border-radius: 50%;
  cursor: pointer;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider .icon {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s;
  z-index: 1;
  left: 0;
  padding-left: 8px;
}

.slider .sun-icon {
  filter: var(--filter-white);
}

.slider .moon-icon {
  filter: var(--filter-white);
}

/* Hide/show logic */
.slider .moon-icon,
:root:has(#theme-toggle:checked) .slider .sun-icon {
  opacity: 1;
}

.slider .sun-icon,
:root:has(#theme-toggle:checked) .slider .moon-icon {
  opacity: 0;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

* {
  font-family: inherit;
  font-style: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.5s;
}

html {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text-main);
  background-color: var(--color-bg);
}

ul > li {
  list-style: none;
}

.right {
  display: flex;
  gap: 10px;
}

.main-nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-text-sec);
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.main-nav .logo img {
  width: 150px;
}

.main-nav nav ul {
  position: absolute;
  display: none;
  gap: 20px;
  background-color: var(--color-primary);
  width: 100%;
  left: 0;
  top: 80px;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.main-nav nav ul li {
  display: flex;
  align-items: center;
  position: relative;
}

.main-nav nav ul li:not(li:last-child) {
  border-bottom: 1px solid var(--color-text);
}

.main-nav nav ul li a {
  color: var(--color-text-sec);
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.main-nav nav ul li::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.main-nav nav ul li:hover::after,
a:hover::after {
  width: 100%;
  left: 0;
}

.mobile-nav-trigger {
  border: 1px solid white;
  border-radius: 50%;
  background: transparent;
  padding: 5px 10px;
  font-size: 16px;
  color: var(--color-text-sec);
  cursor: pointer;
}

.search button.search-button {
  padding: 5px 5px 0 5px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search button.search-button img {
  width: var(--icon-size);
  height: var(--icon-size);
  filter: var(--filter-white);
}

.search form {
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  top: 100px;
  z-index: 10;
  padding: 20px;
  margin: 10px 0;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
}

.hide-search-form {
  display: block !important;
}

.search form .search-input {
  padding: 10px;
  border: none;
  border-radius: 15px;
  width: calc(100% - 80px);
  outline: none;
}

.search form #submit-search {
  padding: 10px;
  border: 2px solid var(--color-text-sec);
  background: transparent;
  color: var(--color-text-sec);
  border-radius: 15px;
  cursor: pointer;
}

.search form #submit-search:hover {
  background: var(--color-primary);
  color: var(--color-text-sec);
}

/* hero section styles */

.hero {
  position: relative;
  text-align: center;
  background: url("../assets/images/story_whc_mafagascar.JPG.webp");
  height: 50vh;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    var(--color-primary),
    var(--color-primary)
  );
  opacity: 0.5;
}

.hero .title {
  color: var(--color-text-sec);
  font-weight: bolder;
  margin-bottom: 20px;
  z-index: 1;
}

.hero .description {
  color: var(--color-text-sec);
  line-height: var(--line-height);
  z-index: 1;
}

.hero .call-to-action {
  border: none;
  outline: none;
  box-shadow: var(--box-shadow);
  padding: 10px 20px;
  margin: 20px;
  background-color: var(--color-primary);
  color: var(--color-text-sec);
  z-index: 1;
  border-radius: 15px;
  cursor: pointer;
}

.hero .call-to-action:hover {
  background-color: var(--color-text-sec);
  color: var(--color-primary);
  outline: 2px solid var(--color-primary);
}

/* intro section styles */

.intro,
.impact {
  padding: 10px;
}

.intro h1.title,
.impact h1.title {
  text-align: center;
  margin: 50px;
  position: relative;
  color: var(--color-text-main);
}

.intro h1.title::after,
.impact h1.title::after {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  content: "";
  width: 200px;
  height: 2px;
  margin: 10px 0;
  background-color: var(--horizontal-line);
}

.intro .description {
  margin: 20px 10px;
}

.intro .description p {
  padding: 10px;
  line-height: var(--line-height);
}

/* impact section */

.impact-activities {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-auto-flow: row;
  margin: 20px;
  justify-content: center;
}

.impact-activities .item {
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.impact-activities .item img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.impact-activities h1.title {
  margin-bottom: 20px;
}

.impact-activities .title {
  padding: 15px;
  line-height: var(--line-height);
}

/* footer section */

footer {
  background: var(--color-primary);
  padding: 20px;
}

footer .logo {
  text-align: center;
  margin-bottom: 30px;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-auto-flow: row;
  margin: 20px;
  text-align: center;
  color: var(--color-text-main);
}

footer .grid a {
  text-decoration: none;
  color: var(--color-text-sec);
}

footer .grid .site-map {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .grid .site-map ul li {
  padding: 10px;
}
footer .grid .site-map ul li:hover::before {
  content: "→";
  margin-right: 10px;
  color: var(--color-text-sec);
}

footer h3 {
  border-bottom: var(--color-text-sec) 1px solid;
  padding: 10px;
  margin: 10px;
  color: var(--color-text-sec);
}

footer .follow-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .follow-us .follow-links {
  display: flex;
}

footer .follow-us .follow-links a {
  margin: 5px;
  background-color: var(--color-text-sec);
  padding: 5px 5px 0 5px;
  border-radius: 10px;
}
footer .follow-us .follow-links a:hover {
  transform: translateY(-5px);
}

footer .follow-us .follow-links a img {
  width: var(--icon-size);
  height: var(--icon-size);
  filter: var(--filter);
}

footer .copy-write {
  color: var(--color-text-sec);
}

/* contact-us page */

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  filter: var(--filter-primary);
}
.contact {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10%;
}

.contact .form {
  position: relative;
}

.contact .field {
  position: relative;
  display: block;
}

.contact .field img {
  width: var(--icon-size);
  height: var(--icon-size);
  position: absolute;
  left: -25px;
  top: 15px;
}

.contact .input {
  padding: 10px;
  outline: none;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  border: 0;
  margin: 5px;
  width: 100%;
}

.contact textarea {
  resize: none;
  background-color: var(--color-bg);
  color: var(--color-text-sec);
}

.contact input {
  background-color: var(--color-bg);
  color: var(--color-text-sec);
}

.contact .submit {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  outline: none;
  background-color: var(--color-text-sec);
  color: var(--color-primary);
  border-radius: 20px;
}

.contact .submit:hover {
  background-color: var(--color-primary);
  color: var(--color-text-sec);
  outline: 1px solid var(--color-text-main);
}

.contact .submit:disabled {
  cursor: not-allowed;
  background-color: var(--gray-color);
  color: var(--danger-color);
}

[class$="-error"] {
  display: none;
  padding: 5px 10px 5px 10px;
  text-align: start;
  margin: 0 0 10px 10px;
  color: var(--danger-color);
  font-size: small;
}

/* about us page */

section {
  padding: 20px;
}

.about-us .title {
  text-align: center;
  margin: 30px;
}

.about-us .history,
.about-us .values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.about-us img {
  max-width: 350px;
  height: auto;
  margin: auto;
  border-radius: 15px;
}

.about-us .description {
  margin: 30px ;
  line-height: var(--line-height);
}


#back-to-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--primary-color);
  color: var(--forth-color);
  padding: 15px 15px 10px 15px;
  margin: 30px;
  border-radius: 50%;
  border: none;
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

#back-to-top.show {
  display: block;
  animation: go-to-top 1s ease 0s 1 normal both;
}

#back-to-top:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--forth-color);
  outline: 1px solid var(--primary-color);
}

@keyframes go-to-top {
  0% {
    opacity: 0;
    transform: translateY(250px) rotate(200deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.125rem;
  }

  .impact-activities,
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .main-nav nav ul {
    box-shadow: none;
  }

  .search form {
    padding: 20px 10%;
  }

  .contact {
    margin: 0 15%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1.25rem;
  }

  .mobile-nav-trigger {
    display: none;
  }

  .main-nav nav ul {
    position: relative;
    display: flex;
    top: 0;
  }
  .main-nav nav ul li:not(li:last-child) {
    border-bottom: none;
  }

  .impact-activities,
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-us .history {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about-us .values {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 1024px;
    margin: 0 auto;
  }
}
